.Feed{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/018/743/873/large/jonathan-t-campfirew.jpg?1560533001');
}

.feed-header > h1{
      background-color: rgba(255, 255, 255, 0.452); 
      width: 10%;
}