.Feed{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

.feed-header > h1{
      background-color: rgba(255, 255, 255, 0.452); 
      width: 10%;
}