.Auth{
    background-image: url("https://preview.redd.it/227aufiss8h01.jpg?width=960&crop=smart&auto=webp&s=0a9d2c63ad55d7b522be42f858ab5ffc54a16c61");
    background-size: 100%;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    color:white;
}

.auth-form{
    border-radius: 20px;
    width: 35vw;
    height: 55vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.767);
}

.auth-form > h1 {
    font-size: 40px;
    font-weight: 400;
}

.auth-form > h2 {
    font-size: 30px;
    font-weight: 400;
}

.auth-inputs{
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.auth-inputs > label {
    font-size: 20px;
}

.view-button{
    border-radius: 10px;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.534);
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    font-size: 20px;
}

.entry-button{
   border-radius: 1px; 
   background-color: rgba(0, 0, 0, 0.534);
   color: white;
   font-size: 25px;
   border: none;
   width: 100px;
   height: 50px;
}

@media only screen and (max-width: 400px){
    .auth-inputs{
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .auth-inputs > input{
        width: 20vw;
    }
}